<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <!--数据库连接配置-->
    <add key="FilePath" value="E:\U9Product\U9.VOB.Product.U9\Portal"/>
    <add key="Title" value="U9帮助"/>
    <add key="MYSQL" value="Database='hp';Data Source=localhost;User ID=root;Password=123456;CharSet=utf8;"/>
    <add key="MSSQL" value="Data Source=localhost;User Id=sa;Password=123456;Initial Catalog=U9DB;packet size=4096;Max Pool size=15000;Connection Timeout=0;persist security info=True"/>
  </appSettings>  
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL"/>
        <foreColor value="Purple, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="Green"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="White"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%r][%t][%p] - %m%n"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="log\\OrgsSplit.log"/>
      <appendToFile value="True"/>
      <maximumFileSize value="5120KB"/>
      <maxSizeRollBackups value="6"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-2t][%-6u][%d{HH:mm:ss}][%-4p][%c{2}]-%m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;"/>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">

    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
