/*<meta />*/

img
{
	border: none;
}

a.Popup
{
	
}

p.\006B63\006587
{
	border-left: solid 0px;
	font-family: 宋体;
	text-align: left;
	padding: 0px;
	margin-left: 0px;
	margin: 0;
	display: block;
	letter-spacing: 0px;
	vertical-align: 0px;
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 5px;
	text-indent: 28px;
	margin-top: 10px;
	font-size: 10pt;
}

li
{
	font-family: 宋体;
	font-size: 12pt;
	vertical-align: 3px;
	letter-spacing: 0px;
	text-indent: 2px;
	text-align: left;
}

li.\006B63\006587\005217\008868
{
	font-family: 宋体;
	text-indent: 0px;
	vertical-align: 0px;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 10pt;
}

h1.\009875\006807\009898
{
	letter-spacing: 0px;
	margin: 10px;
	marker-offset: 10px;
	left: 5px;
	font-family: 宋体;
	margin-bottom: 30px;
	color: #000000;
	font-size: 12pt;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 5px;
}

h1.\005927\006807\009898
{
	font-family: 宋体;
	margin-left: 5px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #000000;
	font-size: 10pt;
	padding-left: 5px;
}

p.p_1
{
	margin-left: 30px;
	border-left: solid 0px;
	orphans: 2;
	widows: 2;
	text-align: justify;
	font-family: 'Times New Roman';
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	margin-left: 30px;
	border-left: solid 0px;
	orphans: 2;
	widows: 2;
	text-align: justify;
	font-family: 'Times New Roman';
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	margin-left: 30px;
	border-left: solid 0px;
	orphans: 2;
	widows: 2;
	text-align: justify;
	font-family: 'Times New Roman';
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	orphans: 2;
	widows: 2;
	text-align: justify;
	font-family: 'Times New Roman';
	font-size: 11pt;
	vertical-align: top;
}

p.p
{
	margin-top: 13pt;
	margin-bottom: 13pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.span
{
	font-size: 10pt;
}

span.span_1
{
	font-family: 宋体;
}

p.span_1
{
	font-size: 10pt;
	font-family: 宋体;
}

a.a_1
{
	font-family: 宋体;
	color: #0000FF;
	text-decoration: underline;
}

p.p_\006B63\006587
{
	margin-top: 11pt;
	margin-bottom: 11pt;
	margin-left: 23pt;
	font-family: 'Times New Roman';
}

p.p_2
{
	font-size: 12pt;
	margin-top: 11pt;
	margin-bottom: 11pt;
	font-family: 'Times New Roman';
}

p.dropDownHead
{
	font-family: 'Times New Roman';
}

span.span
{
	font-size: 10pt;
}

xref.ContinueTo
{
	mc-format: '(continued in {title})';
}

xref.ContinueFrom
{
	mc-format: '(continued from {title})';
}

span.span_2
{
	font-family: 黑体;
}

p.p_\006B63\006587_1
{
	margin-top: 11pt;
	margin-bottom: 11pt;
	margin-left: 23pt;
	font-family: 宋体;
}

span.span_3
{
	font-size: 10pt;
	font-family: 新宋体;
}

span.span_4
{
	font-size: 10pt;
	font-family: 宋体;
}

span.span_5
{
	font-family: 新宋体;
}

ul.ul_1
{
	list-style-type: square;
	margin-left: 30pt;
}

p.p_1_1
{
	margin-left: 30px;
	border-left: solid 0px;
	orphans: 2;
	widows: 2;
	text-align: justify;
	margin-top: 13pt;
	margin-bottom: 13pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.p_2_1
{
	font-size: 12pt;
	margin-top: 11pt;
	margin-bottom: 11pt;
	font-family: 宋体;
}

span.b
{
	font-weight: bold;
	font-size: 10pt;
}

p.dropDownHead_1
{
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.span1
{
	font-size: 12pt;
}

p.p_\006B63\006587_1_1
{
	margin-top: 11pt;
	margin-bottom: 11pt;
	margin-left: 23pt;
	font-family: 'Times New Roman';
	font-weight: bold;
}

span.span_6
{
	font-family: 宋体;
	color: #0000FF;
	text-decoration: underline;
}

span.b_1
{
	font-weight: bold;
	font-size: 10pt;
	font-family: 宋体;
}

p.span1_1
{
	font-size: 12pt;
	font-family: 宋体;
}

p.p_\006B63\006587_1_1_1
{
	margin-top: 11pt;
	margin-bottom: 11pt;
	margin-left: 23pt;
	font-weight: bold;
	font-family: 宋体;
}

p.\006CE8\00610F\006807\009898
{
	letter-spacing: normal;
	color: #000000;
	font-family: 宋体;
	font-size: 10pt;
	margin: 0;
	border-bottom-width: 0px;
	border: solid 0px;
	border-left: solid 0px;
	border-top-width: 1px;
	font-weight: bold;
	border-top-color: #a9a9a9;
	background-color: #e6e6e6;
	padding-left: 0pt;
	padding-right: 0pt;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 0px;
	padding-bottom: 5pt;
	padding-top: 5pt;
	margin-top: 5px;
}

p.\006CE8\00610F\006587\005B57
{
	letter-spacing: normal;
	color: #000000;
	font-family: 宋体;
	font-size: 10pt;
	font-weight: normal;
	border-top-color: #696969;
	margin: 0;
	border-top-width: 0px;
	border: solid 0px;
	border-left: solid 0px;
	border-bottom-width: 0px;
	background-color: #e6e6e6;
	padding-left: 0pt;
	padding-right: 0pt;
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

p.\006CE8\00610F\005E95
{
	letter-spacing: normal;
	color: #000000;
	font-family: 宋体;
	font-size: 10pt;
	font-weight: normal;
	border-top-color: #696969;
	margin-top: 1.7em;
	margin: 0;
	border-top-width: 0px;
	border: solid 0px;
	border-left: solid 0px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	background-color: #e6e6e6;
	margin-left: 5px;
	padding-left: 0em;
	padding-right: 0em;
	margin-right: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
}

a
{
	color: #008000;
}

glossaryTerm
{
	font-family: 宋体;
	mc-open-image: none;
	mc-closed-image: none;
	font-size: 10pt;
	color: #9400d3;
	font-weight: bold;
}

dropDownHead
{
	font-family: 宋体;
	color: #4169e1;
	font-size: 12pt;
}

expandingHead
{
	color: #0000cd;
	font-family: 宋体;
	font-size: 10pt;
	text-decoration: underline;
}

expanding
{
	mc-image-spacing: 8px;
	color: #0000cd;
}

expandingBody
{
	color: #000000;
	font-family: 宋体;
	font-size: 10pt;
}

li.\008868\00683C\005217\008868
{
	font-family: 宋体;
	text-indent: 0px;
	vertical-align: 0px;
	margin-left: 0px;
	font-size: 10pt;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
}

p.\008868\00683C\006B63\006587
{
	border-left: solid 0px;
	font-family: 宋体;
	text-align: left;
	padding: 0px;
	margin-left: 0px;
	margin: 0;
	display: block;
	letter-spacing: 0px;
	vertical-align: 0px;
	margin-bottom: 10px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 10pt;
	margin-top: 10px;
	padding-left: 5px;
}

dropDown.\006B63\006587dropdown
{
	font-family: 宋体;
	text-indent: 0px;
	padding-left: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 30px;
	font-size: 10pt;
}

dropDown
{
	text-indent: 28px;
	padding-left: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

p.\0064CD\004F5C\008BF4\00660E\006807\009898
{
	border-left: solid 0px;
	font-family: 宋体;
	text-align: left;
	padding: 0px;
	margin-left: 0px;
	margin: 0;
	display: block;
	letter-spacing: 0px;
	vertical-align: 0px;
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 5px;
	text-indent: 28px;
	margin-top: 10px;
	font-weight: bold;
	font-size: 10pt;
}

p.\008868\00683C\006CE8\00610F\006807\009898
{
	letter-spacing: normal;
	margin-left: .1em;
	font-family: 宋体;
	font-size: 10pt;
	margin: 0;
	border-bottom-width: 0px;
	border: solid 0px;
	border-left: solid 0px;
	border-top-width: 1px;
	font-weight: bold;
	color: #000000;
	border-top-color: #a9a9a9;
	background-color: #e6e6e6;
	padding-right: 0em;
	padding-top: 5px;
	padding-left: 5px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	margin-top: 5px;
}

p.\008868\00683C\006CE8\00610F\005E95
{
	letter-spacing: normal;
	margin-left: .1em;
	color: #000000;
	font-family: 宋体;
	font-size: 10pt;
	font-weight: normal;
	border-top-color: #696969;
	margin: 0;
	border-top-width: 0px;
	border: solid 0px;
	border-left: solid 0px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	background-color: #e6e6e6;
	padding-right: 0em;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
	padding-top: 5px;
	margin-bottom: 5px;
}

p.\008868\00683C\006CE8\00610F\006587\005B57
{
	letter-spacing: normal;
	margin-left: .1em;
	color: #000000;
	font-family: 宋体;
	font-size: 10pt;
	font-weight: normal;
	border-top-color: #696969;
	margin: 0;
	border-top-width: 0px;
	border: solid 0px;
	border-left: solid 0px;
	border-bottom-width: 0px;
	background-color: #e6e6e6;
	padding-right: 0em;
	padding-left: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
}

li.\005BFC\00822A
{
	font-family: 宋体;
	text-indent: 0px;
	vertical-align: 0px;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 10pt;
	color: #000000;
}

conceptLink
{
	font-size: 10pt;
	font-family: 宋体;
	font-style: normal;
	mc-label: '相关主题';
	color: #0000cd;
}

a.\006B63\006587\008D85\0094FE\0063A5
{
	color: #008000;
	font-family: 宋体;
	font-size: 10pt;
}

a.\008868\00683C\008D85\0094FE\0063A5
{
	color: #008000;
	font-family: 宋体;
	font-size: 10pt;
}

a.\005927\006807\009898\008D85\0094FE\0063A5
{
	color: #008000;
	font-family: 宋体;
	font-size: 10pt;
	font-weight: bold;
}

glossaryTerm.\006B63\006587\00672F\008BED
{
	font-family: 宋体;
	mc-open-image: none;
	mc-closed-image: none;
	color: #9932cc;
	font-weight: normal;
	font-size: 10pt;
}

glossaryTerm.\008868\00683C\00672F\008BED
{
	font-family: 宋体;
	mc-open-image: none;
	mc-closed-image: none;
	color: #9932cc;
	font-size: 10pt;
	font-weight: normal;
}

glossaryTerm.\005927\006807\009898\00672F\008BED
{
	font-family: 宋体;
	mc-open-image: none;
	mc-closed-image: none;
	color: #9932cc;
	font-size: 10pt;
}

glossaryTerm.Expanding
{
	font-weight: normal;
}

expandingHead.\006B63\006587\005C55\005F00\006807\009898
{
	color: #0000cd;
	font-family: 宋体;
	text-decoration: none;
	font-weight: normal;
	font-size: 10pt;
}

@media print
{
	expandingHead.\006B63\006587\005C55\005F00\006807\009898
	{
		
	}
}

expandingHead.\008868\00683C\005C55\005F00\006807\009898
{
	text-decoration: none;
}

dropDownHead.\006B63\006587\004E0B\0062C9\006807\009898
{
	font-family: 宋体;
	font-weight: normal;
	font-size: 10pt;
	color: #0000cd;
}

dropDownHead.\008868\00683C\004E0B\0062C9\006807\009898
{
	font-family: 宋体;
	font-size: 10pt;
	font-weight: normal;
	color: #0000cd;
}

dropDown.\008868\00683Cdropdown
{
	font-family: 宋体;
	text-indent: 0px;
	padding-left: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 10pt;
}

dropDownHead.\005927\006807\009898\004E0B\0062C9\006807\009898
{
	font-family: 宋体;
	font-weight: bold;
	color: #0000cd;
	font-size: 10pt;
}

dropDown.\005927\006807\009898dropdown
{
	font-family: 宋体;
	text-indent: 0px;
	padding-left: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 5px;
	font-weight: bold;
	color: #0000cd;
	font-size: 10pt;
}

helpControlMenuItem
{
	font-size: 12pt;
}

a.\005BFC\00822A\008D85\0094FE\0063A5
{
	color: #008000;
	font-family: 宋体;
	font-size: 10pt;
}

glossaryTerm.Popup
{
	color: #9932cc;
	font-weight: normal;
}

glossaryTerm.Hyperlink
{
	font-weight: normal;
}

concept
{
	font-size: 10pt;
}

